<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.derslet.derslet">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Derslet">

        <!-- Geçici -->
        <activity android:name=".Test">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <!-- Temel -->
        <activity android:name=".Giris" />
        <activity android:name=".Acilis" />

        <!-- Öğretmen -->

            <!-- Ana -->
            <activity android:name=".OgretmenMenu" />
            <activity android:name=".OgretmenAyarlar" />

            <!-- Ders Kontrol -->
            <activity android:name=".OgretmenDersKontrol" />
            <activity android:name=".OgretmenDersKontrolKontrol" />
            <activity android:name=".OgretmenQrKod" />

            <!-- Sohbet -->
            <activity android:name=".OgretmenSohbetListesi" />
            <activity android:name=".OgretmenSohbetMesajlasma" />

            <!-- Duyuru -->
            <activity android:name=".OgretmenDuyuru" />
            <activity android:name=".OgretmenDuyuruEkle" />

            <!-- Dersler -->
            <activity android:name=".OgretmenDerslerDersListesi" />
            <activity android:name=".OgretmenDerslerGonderi" />

        <!-- Öğrenci -->
        <activity android:name=".OgrenciAyarlar" />


    </application>

</manifest>