<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.derslet.derslet">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Derslet">

        <!-- Geçici -->
        <activity android:name=".Test">

        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Temel -->
        <activity android:name=".Giris"></activity>
        <activity android:name=".Acilis"></activity>

        <!-- Öğretmen -->

            <!-- Ana -->
            <activity android:name=".OgretmenMenu"></activity>
            <activity android:name=".OgretmenAyarlar"></activity>

            <!-- Ders Kontrol -->
            <activity android:name=".OgretmenDersKontrol"></activity>
            <activity android:name=".OgretmenDersKontrolKontrol"></activity>
            <activity android:name=".OgretmenQrKod"></activity>

            <!-- Sohbet -->
            <activity android:name=".OgretmenSohbetListesi"></activity>
            <activity android:name=".OgretmenSohbetMesajlasma"></activity>

            <!-- Duyuru -->
            <activity android:name=".OgretmenDuyuru"></activity>
            <activity android:name=".OgretmenDuyuruEkle"></activity>

            <!-- Dersler -->
            <activity android:name=".OgretmenDerslerDersListesi"></activity>
            <activity android:name=".OgretmenDerslerGonderi"></activity>
            <activity android:name=".OgretmenKisaSinavSonuclar"></activity>
            <activity android:name=".OgretmenGonderiEkle"></activity>
            <activity android:name=".OgretmenKisaSinavEkle"></activity>
            <activity android:name=".OgretmenSoruEkleDuzenle"></activity>



        <!-- Öğrenci -->
        <activity android:name=".OgrenciAyarlar"></activity>


    </application>

</manifest>